<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:include="fragments/layout :: head(title=~{::title}, extras=~{::extras})">
    <title th:text="#{title_home}">Home</title>
    <extras></extras>
</head>

<body th:include="fragments/layout :: body" th:with="content=~{::content}">
    <div th:fragment="content">

        <form th:action="@{/film/save}" th:object=${filmDto} method="POST">
            <fieldset>
                <!-- Hidden ID -->
                <input type="hidden" th:value="*{id}" th:field="*{id}" />

                <div class="form-group">
                    <label for="title" th:text="#{films_title}"></label>
                    <input id="title" type="text" th:field="*{title}" class="form-control" />
                    <div style="border-top: 1px solid red; color: red;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>

                <div class="form-group">
                    <label for="year" th:text="#{films_year}"></label>
                    <input id="year" type="number" th:field="*{year}" class="form-control" step="1" min="1880" max="999999999"/>
                    <div style="border-top: 1px solid red; color: red;" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
                </div>

                <div class="form-group">
                    <label for="genre" th:text="#{films_genre}"></label>
                    <input id="genre" type="text" th:field="*{genre}" class="form-control"/>
                    <div style="border-top: 1px solid red; color: red;" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>
                </div>

                <div class="form-group">
                    <label for="idDirector" th:text="#{films_director}"></label>
                    <select id="idDirector" class="selectpicker form-control" data-live-search="true" th:field="*{idDirector}">
                        <option th:each="director: ${@personService.findAllDirectorsDto()}"
                                th:value="${director.id}"
                                th:text="${director.name}"></option>
                    </select>
                    <div style="border-top: 1px solid red; color: red;" th:if="${#fields.hasErrors('idDirector')}" th:errors="*{idDirector}"></div>
                </div>

                <div class="form-group">
                    <label for="idActress" th:text="#{films_actress}"></label>
                    <select id="idActress" class="selectpicker form-control" data-live-search="true" th:field="*{idActress}">
                        <option th:each="actress: ${@personService.findAllActressesDto()}"
                                th:value="${actress.id}"
                                th:text="${actress.name}"></option>
                    </select>
                    <div style="border-top: 1px solid red; color: red;" th:if="${#fields.hasErrors('idActress')}" th:errors="*{idActress}"></div>
                </div>

                <div class="form-group">
                    <label for="idActor" th:text="#{films_actor}"></label>
                    <select id="idActor" class="selectpicker form-control" data-live-search="true" th:field="*{idActor}">
                        <option th:each="actor: ${@personService.findAllActorsDto()}"
                                th:value="${actor.id}"
                                th:text="${actor.name}"></option>
                    </select>
                    <div style="border-top: 1px solid red; color: red;" th:if="${#fields.hasErrors('idActor')}" th:errors="*{idActor}"></div>
                </div>

                <button type="submit" th:text="#{form_submit}" class="btn btn-primary"></button>
            </fieldset>
        </form>
    </div>
</body>
</html>