<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:include="fragments/layout :: head(title=~{::title}, extras=~{::extras})">
    <title th:text="#{title_home}">Home</title>
    <extras></extras>
</head>

<body th:include="fragments/layout :: body" th:with="content=~{::content}, customScript=~{::customScript}">
<div th:fragment="content">

    <form th:action="@{/holidays/save}" th:object=${monthDayHolidayDto} method="POST">
        <fieldset>
            <!-- Hidden fields -->
            <input type="hidden" th:value="*{id}" th:field="*{id}"/>
            <input type="hidden" id="hidden-country" th:value="*{country}" th:field="*{country}"/>
            <input type="hidden" id="hidden-state" th:value="*{state}" th:field="*{state}"/>
            <input type="hidden" id="hidden-city" th:value="*{city}" th:field="*{city}"/>

            <div class="form-group" id="country-fragment" th:fragment="country-fragment">
                <label for="country" th:text="#{holidays_country}"></label>
                <select id="country" class="selectpicker form-control" data-live-search="true">
                    <option th:each="country: ${@countryService.getCountries()}"
                            th:value="${country.name}"
                            th:text="${country.name}"></option>
                </select>
            </div>
            <div style="border-top: 1px solid red; color: red;"
                 th:if="${#fields.hasErrors('country')}"
                 th:errors="*{country}"></div>

            <div class="form-group" id="state-fragment" th:fragment="state-fragment">
                <label th:if="${states != null}" for="state" th:text="#{holidays_state}"></label>
                <select th:if="${states != null}" id="state" class="selectpicker form-control" data-live-search="true">
                    <option value=""></option>
                    <option th:each="state: ${states}"
                            th:value="${state.name}"
                            th:text="${state.name}"></option>
                </select>
            </div>
            <div style="border-top: 1px solid red; color: red;"
                 th:if="${#fields.hasErrors('state')}"
                 th:errors="*{state}"></div>

            <div class="form-group" id="city-fragment" th:fragment="city-fragment">
                <label th:if="${cities != null}" for="city" th:text="#{holidays_city}"></label>
                <select th:if="${cities != null}" id="city" class="selectpicker form-control" data-live-search="true">
                    <option value=""></option>
                    <option th:each="city: ${cities}"
                            th:value="${city.name}"
                            th:text="${city.name}"></option>
                </select>
            </div>
            <div style="border-top: 1px solid red; color: red;"
                 th:if="${#fields.hasErrors('city')}"
                 th:errors="*{city}"></div>

            <div class="form-group">
                <label for="dayOfMonth" th:text="#{holidays_dayOfMonth}"></label>
                <input id="dayOfMonth" type="numero" th:field="*{dayOfMonth}" class="form-control"/>
                <div style="border-top: 1px solid red; color: red;" th:if="${#fields.hasErrors('dayOfMonth')}"
                     th:errors="*{dayOfMonth}"></div>
            </div>

            <div class="form-group">
                <label for="month" th:text="#{holidays_month}"></label>
                <input id="month" type="numero" th:field="*{month}" class="form-control"/>
                <div style="border-top: 1px solid red; color: red;" th:if="${#fields.hasErrors('month')}"
                     th:errors="*{month}"></div>
            </div>

            <div class="form-group">
                <label for="description" th:text="#{holidays_description}"></label>
                <input id="description" type="text" th:field="*{description}" class="form-control"/>
                <div style="border-top: 1px solid red; color: red;" th:if="${#fields.hasErrors('description')}"
                     th:errors="*{description}"></div>
            </div>

            <button type="submit" th:text="#{form_submit}" class="btn btn-primary"></button>
        </fieldset>
    </form>
</div>
<div th:fragment="customScript">
    <script type="text/javascript" th:src="@{/js/holidays-edit.js}"></script>
</div>
</body>
</html>