<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:include="fragments/layout :: head(title=~{::title}, extras=~{::extras})">
    <title th:text="#{title_home}">Home</title>
    <extras></extras>
</head>

<body th:include="fragments/layout :: body" th:with="content=~{::content}">
    <div th:fragment="content">

        <h1 th:text="#{title_app}"></h1>
        <h2 th:text="#{home_select_entity}"></h2>
        <ul>
            <li><a th:text="#{persons_title}" th:href="@{/persons}"></a></li>
            <li><a th:text="#{films_title_screen}" th:href="@{/films}"></a></li>
            <li><a th:text="#{awards_title}" th:href="@{/awards}"></a></li>
            <li><a th:text="#{prizes_title}" th:href="@{/prizes}"></a></li>
        </ul>

        <hr>
        <h1 th:text="#{title_producer}"></h1>
        <h2 th:text="#{home_select_producer_entity}"></h2>
        <ul>
            <li><a th:text="#{holidays_title}" th:href="@{/holidays}"></a></li>
        </ul>

    </div>
</body>

</html>